<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
		<table>
		<tr>
			<th>Index</th>
			<th>Name</th>
			<th>Height</th>
			<th>Mass</th>
		</tr>
				<% for(var i=0; i<json.length; i++) {%>
				   <tr><td><%= i+1 %></td><td> <%= json[i]['name'] %> </td><td><%= json[i]['height'] %> </td><td><%= json[i]['mass'] %> </td></tr>
				<% } %>
				</table>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>