<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<script>
    var row =<%-JSON.stringify(json)%>
    console.log(row);
</script>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
		
<h1>JSON of Plantes Residents:</h1>
      <h2> <%= JSON.stringify(json)%> </h2>


		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>